.each-cart-container {
  padding-left: 80px;
  padding-right: 80px;
}
.cart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 100px;
  padding: 5px;
}
